<h1 class="request_title">Edit Recurrence</h1>

<%= render 'form', recurrence: @recurrence %>

<div class ="links">
<%= link_to 'Show', @recurrence%> |
<%= link_to "Delete", recurrence_path(@recurrence), method: :delete %> |
<%= link_to 'Back', recurrences_path %>
</div>