
<header>Requests</header>
<% @requests.each do |request| %>
    
        <h2><%= link_to request.title, request_path(request.id) %></h2>
        <p><%= request.description%></p>
            <div class="links">
                <%= link_to "edit", edit_request_path(request[:id]) %>
                <%= link_to "delete", request, method: :delete, data: {confirm: "Are you sure you want to delete this request?"}%>
            </div>
   
<% end %>
